---
import Layout from '~/layouts/PageLayout.astro';
import DDExplorer from '~/components/dd-explorer/DDExplorer.tsx';

const metadata = {
  title: 'Clubs',
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <DDExplorer client:only="react" />
  </section>
</Layout>
